[MASTER]

disable=invalid-name,
        too-many-arguments,
        too-many-instance-attributes,
        c-extension-no-member,
        too-many-locals,
        R0801,
        too-many-positional-arguments
